# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment files
.env

# Cache directories
.cache/

# Test results and coverage reports
.pytest_cache/
.coverage

# Logs
*.log